.DS_Store
/KiCad/Compucorp_324G_Scientist-backups
*.kicad_prl
*.pages
*.numbers
*.bak
Test_Harness/fp-info-cache
/Test_Harness/Test_Harness-backups
*.lck
/Keyboard/Compucorp_Keyboard-backups
Keyboard/fp-info-cache
/Keyboard/Cherry_MX/Compucorp_Keyboard-backups
Keyboard/Cherry_MX/fp-info-cache
Keyboard/Tactile_6mm/fp-info-cache
